@import url('/fonts/fonts.css');

.app {
  overflow-x: hidden;
}

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e81d0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3879ea;
}